# Project exclude paths
/dev/
/databases/elastic/secrets.py
/databases/sqlite_db/test_table.db
/databases/sqlite_db/stats_dev.db
/databases/elastic/docker/elastic/data/_state/
/databases/elastic/docker/elastic/data/indices/
/databases/elastic/docker/elastic/data/snapshot_cache/
/databases/elastic/docker/elastic/data/node.lock
/databases/elastic/docker/elastic/data/nodes
/databases/elastic/docker/kibana/data/chromium-nNd7pJ/
/databases/elastic/docker/kibana/data/uuid
/databases/elastic/docker/certs/ca/
/databases/elastic/docker/certs/es01/
/databases/elastic/docker/certs/ca.zip
/databases/elastic/docker/certs/certs.zip
/databases/elastic/docker/certs/instances.yml
/03_Rapport/Rapport/IED_L3_Projet_Inglang_Fouille_IA.aux
/03_Rapport/Rapport/IED_L3_Projet_Inglang_Fouille_IA.dvi
/03_Rapport/Rapport/IED_L3_Projet_Inglang_Fouille_IA.log
/03_Rapport/Rapport/IED_L3_Projet_Inglang_Fouille_IA.synctex.gz
/03_Rapport/Rapport/IED_L3_Projet_Inglang_Fouille_IA.toc
/03_Rapport/Présentation/IngLang.aux
/03_Rapport/Présentation/IngLang.bbl
/03_Rapport/Présentation/IngLang.bcf
/03_Rapport/Présentation/IngLang.blg
/03_Rapport/Présentation/IngLang.log
/03_Rapport/Présentation/IngLang.nav
/03_Rapport/Présentation/IngLang.out
/03_Rapport/Présentation/IngLang.run.xml
/03_Rapport/Présentation/IngLang.snm
/03_Rapport/Présentation/IngLang.synctex.gz
/03_Rapport/Présentation/IngLang.toc
/03_Rapport/Présentation/Modele.bib
/03_Rapport/Présentation/IngLang.vrb
/venv/
/out/
/03_Rapport/Rapport/IED_L3_Projet_Inglang_Fouille_IA.out
/databases/psql_db/docker/data/
/03_Rapport/Schéma/.$Phase_1.drawio.dtmp
/03_Rapport/Schéma/.$Phase_1.drawio.bkp
/03_Rapport/Schéma/.$Bdd_phase1.drawio.bkp
/03_Rapport/Schéma/.$Bdd_phase1.drawio.dtmp
/databases/psql_db/secrets.py
/py3-env/
/03_Rapport/Rapport/IED_L3_Projet_Inglang_Fouille_IA.bbl
/03_Rapport/Rapport/IED_L3_Projet_Inglang_Fouille_IA.blg
/databases/sqlite_db/stats_prod.db
/.idea
/README.md.back
/databases/mongodb/docker/data/
/dev_dataset/validation/spam.csv
/models/decision_tree_spam.sav
/models/svm_spam.sav
/dev_dataset/validation/
/models/df_columns.sav
